{% extends 'shop/shop-layout.html' %}
{% set active_page = 'shop.index' %}

{% block shop_content %}
<!-- PAGE HEADER : begin -->
<div id="page-header">
	<div class="container">
		<h1>Shop</h1>
		<ul class="breadcrumbs">
			<li><a href="{{ url_for('main.index') }}">Home</a></li>
			<li>Hair</li>
		</ul>
	</div>
</div>
<!-- PAGE HEADER : begin -->
<div class="container">
	{% include './shop/partials/flash-messages.html' %}
	<div class="row">
		<div class="col-md-8">
			<!-- PAGE CONTENT : begin -->
			<div id="page-content">
				<!-- PRODUCT LIST : begin -->
				<ul class="product-list">
					<!-- PRODUCT : begin -->
					{% for category in categories %}
						{% if category.name != 'Frontals' and category.name != 'Closures' %}
							<li class="product-container col-xs-12 col-md-6">
								<a class="product-link" href="{{ url_for('hair.get_category', category=category.name.lower()) }}">
									<div class="product-inner">
										<h3 class="product-title">
											{{ category.name }}
										</h3>
										<p class="product-image"><a href="{{ url_for('hair.get_category', category=category.name.lower()) }}"><img class="img-fluid" src="{{ category.image }}" alt="{{ category.name }}"></a></p>
									</div>
								</a>
							</li>
						{% endif %}
					{% endfor %}
					<li class="product-container col-xs-12 col-md-6">
						<div class="product-link">
							<div class="product-inner">
								<h3 class="product-title">
									<a class="product-ref" href="{{ url_for('hair.get_category', category='frontals') }}">{{ frontals.name }}</a> &plus; <a class="product-ref" href="{{ url_for('hair.get_category', category='closures') }}">{{ closures.name }}</a>
								</h3>
								<p class="product-image">
									<img src="{{ frontals.image }}" alt="{{ frontals.name }} and {{ closures.name }}" />
								</p>
							</div>
						</div>
					</li>
					<!-- PRODUCT : end -->
				</ul>
				<!-- PRODUCT LIST : end -->
			</div>
			<!-- PAGE CONTENT : end -->
		</div>
		<div class="col-md-4">
			<!-- SIDEBAR : begin -->
			{% include './partials/shop-sidebar.html' %}
			<!-- SIDEBAR : end -->
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
	<script>
		// $('#sort-dropdown option[value={{ sort_order }}]').attr('selected', 'selected');
	</script>
{% endblock %}