{% extends 'shop/shop-layout.html' %}
{% set active_page = 'shop.cart' %}

{% block shop_content %}
<!-- PAGE HEADER : begin -->
<div id="page-header">
	<div class="container">
		<h1>Cart</h1>
		<ul class="breadcrumbs">
			<li><a href="{{ url_for('main.index') }}">Home</a></li>
			<li><a href="{{ url_for('hair.get_categories') }}">Shop</a></li>
			<li>Cart</li>
		</ul>
	</div>
</div>
<!-- PAGE HEADER : begin -->
<div class="container">
	{% include './shop/partials/flash-messages.html' %}
	<!-- PAGE CONTENT : begin -->
	<div id="page-content">
		<!-- SHOP CART : begin -->
		<div class="shop-cart">
			<form id="update-cart-form" class="default-form" action="{{ url_for('shop.update_cart') }}" method="POST">
				<!-- CART TABLE : begin -->
				<table class="cart-table">
					<thead>
						<tr>
							<th class="image-col"></th>
							<th class="title-col">Product</th>
							<th class="price-col">Price</th>
							<th class="quantity-col">Quantity</th>
							<th class="total-col">Total</th>
							<th class="remove-col"></th>
						</tr>
					</thead>
					<tbody>
						{% for p in shopping_cart %}
							<tr class="shopping-cart-item">
								<td class="product-image"><a href="{{ url_for('hair.get_pattern', category=p.category.lower(), pattern=p.pattern.lower()) }}"><img src="{{ p.image }}" alt="{{ p.name }}"></a></td>
								<td><a href="{{ url_for('hair.get_pattern', category=p.category.lower(), pattern=p.pattern.lower()) }}">{% if p.category=='Bundles' %}{{ p.bundle_length }}{% else %}{{ p.length }}"{% endif %} {{ p.name }} {% if p.category=='Bundles' %} Bundles{% else %} Extensions{% endif %}</a></td>
								<td>${{ '{:.2f}'.format(p.price) }}</td>
								<td>
									{# {{ p.quantity }} #}
									<div class="quantity-input">
										<input data-product-id="{{ p.prod_id }}" name='cart-quantity' id='cart-quantity' type="number" class="m-type-2 quantity-selector" value="{{ p.quantity }}" min="1" max="100" step="1">
									</div>
								</td>
								<td>${{ '{:.2f}'.format(p.price * p.quantity) }}</td>
								<td class="textalign-right"><a href="{{ url_for('shop.remove_cart_product', id=p.prod_id) }}" class="remove-item"><i class="fa fa-trash-o"></i></a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<!-- CART TABLE : end -->
				<!-- CART TOOLS : begin -->
				<div class="cart-tools">
					<!-- CART COUPON : begin -->
					<div class="cart-coupon">
						{% if coupon and coupon.discount != 0 %}
							<input type="text" class="m-type-2" id="coupon-field" disabled />
							<button id="clear-coupon-btn" class="c-button m-type-2" type="submit">Clear Coupon</button>
						{% else %}
							<input type="text" class="m-type-2" id="coupon-field" />
							<button id="apply-coupon-btn" class="c-button m-type-2" type="submit">Apply Coupon</button>
						{% endif %}
					</div>
					<!-- CART COUPON : end -->
					<!-- CART BUTTONS : begin -->
					<div class="cart-buttons">
						<button id="update-cart-btn" class="c-button m-type-2" type="submit">Update Cart</button>
						<a href="{{ url_for('shop.cart_checkout') }}" class="c-button" type="submit">Checkout</a>
					</div>
					<!-- CART BUTTONS : end -->
				</div>
				<!-- CART TOOLS : end -->
			</form>
			<!-- CART FOOTER : begin -->
			<div class="cart-footer">
				<!-- CART SHIPPING : begin -->
				<!-- <div class="cart-shipping">
					<form class="default-form" action="shop-cart.html">
						<h2 class="heading-2 m-small">Cart Shipping</h2>
						<div class="form-field">
							<select class="selectbox-input">
								<option>Select Country...</option>
								<option selected value="us">United States</option>
							</select>
						</div>
						<button class="c-button m-type-2" type="submit">Update Totals</button>
					</form>
				</div> -->
				<!-- CART SHIPPING : end -->
				<!-- CART TOTALS : begin -->
				<div class="cart-totals">
					<h2 class="heading-2 m-small">Cart Totals</h2>
					<dl>
						<dt>Cart Subtotal</dt>
						<dd>{{ '${:.2f}'.format(total) }}</dd>
						<!-- <dt>Shipping/Sales</dt>
						<dd>{{ '${:.2f}'.format(total * tax) }}</dd> -->
						{% if coupon and coupon.discount != 0 %}
							<dt style="color: red;">Discount</dt>
							<dd style="color: red;">&ndash; {{ '{:,.0f}%'.format(coupon.discount * 100) }}</dd>
						{% endif %}
						<dt>Total</dt>
						<dd>
							<strong>
								{% if coupon and coupon.discount != 0 %}
									{{ '${:.2f}'.format(total - (total * coupon.discount)) }}
								{% else %}
									{{ '${:.2f}'.format(total) }}
								{% endif %}
							</strong>
						</dd>
					</dl>
				</div>
				<!-- CART TOTALS : end -->
			</div>
			<!-- CART FOOTER : end -->
		</div>
		<!-- SHOP CART : end -->
	</div>
	<!-- PAGE CONTENT : end -->
</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script>
		$('#update-cart-form').on('submit', function(e) {
			e.preventDefault();

			var cartItems = $('.quantity-selector');
			let data = [];
			cartItems.each(function(idx, item) {
				let stuff = {
					'prodID': Object.values($(item).data())[0],
					'quantity': parseInt($(item).val())
				}
				data.push(stuff);
			})

			$.ajax({
				url: "{{ url_for('shop.update_cart') }}",
				type: 'POST',
				data: JSON.stringify({ cartItems: data }),
				contentType: 'application/json',
			})
			.done(function (result) {
				window.location.href = "{{ url_for('shop.cart', cart_updated=True) }}"
			})
		});
	</script>

	<script>

		$('#clear-coupon-btn').on('click', async (event) => {
			event.preventDefault();

			await $.post("{{ url_for('shop.clear_coupon') }}", () => {
				window.location.href = "{{ url_for('shop.cart') }}"
			});
		});

		$('#apply-coupon-btn').on('click',  (event) => {
			event.preventDefault();

			if ($('#coupon-field').val() !== '') {
				var couponInput = $('#coupon-field').val();
				// console.log(couponInput);
	
				 fetch("{{ url_for('shop.apply_coupon') }}", {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({ text: couponInput.toUpperCase() })
				})
				.then(res => res.json())
				.then(data => {
					// console.log('success');
					$('#coupon-field').val('');
					window.location.href = "{{ url_for('shop.cart') }}"
				})
				.catch(error => console.log(error));
			} else {
				console.log("You must enter in a coupon code.");
			}
		});
	</script>
{% endblock %}