/* -----------------------------------------------------------------------------

This file should be used to add your own CSS definitions or override
the existing ones.

----------------------------------------------------------------------------- */

/* your CSS here */

	.testimonial-inner .fa.fa-star {
		color: #EF008B;
	}

	#authentication-form form {
		display: inline-block;
	}

	#paymentCard, #paymentCVV, #paymentExpiration, #paymentPostalCode {
		border: 1px solid #e1e1e1;
		border-radius: 5px;
		-webkit-transition: border-color 160ms;
		transition: border-color 160ms;
	}

	.custom-hosted-field {
		height: 30px;
		padding-left: 10px;
	}

	.accordian-title-without {
		color: #3f3f3f;
		position: relative;
		margin: 0;
		padding: 18px 15px 18px 40px;
		font-size: 1em;
		font-weight: bold;
		text-transform: uppercase;
	}

	#reservation-btn a {
		-webkit-appearance: button;
		background: none;
		cursor: pointer;
		outline: 0;
		-webkit-appearance: button;
		
		/* -webkit-writing-mode: horizontal-tb !important; */
		text-rendering: auto;
		color: -internal-light-dark-color(buttontext, rgb(170, 170, 170));
		letter-spacing: normal;
		word-spacing: normal;
		text-transform: none;
		text-indent: 0px;
		text-shadow: none;
		display: inline-block;
		text-align: center;
		align-items: flex-start;
		cursor: default;
		background-color: -internal-light-dark-color(rgb(239, 239, 239), rgb(74, 74, 74));
		box-sizing: border-box;
		margin: 0em;
		font: 400 13.3333px Arial;
		padding: 1px 6px;
		border-width: 2px;
		border-style: outset;
		border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
		border-image: initial;
	}

/* -----------------------------------------------------------------------------

    RESPONSIVE DEFINITIONS

----------------------------------------------------------------------------- */

    /* -------------------------------------------------------------------------
        LARGE DEVICES
		devices with width between 992px and 1199px
    ------------------------------------------------------------------------- */

    @media ( max-width: 1199px ) {

		/* your CSS here */

	}

    /* -------------------------------------------------------------------------
        MEDIUM DEVICES
		devices with width between 768px and 991px
    ------------------------------------------------------------------------- */

    @media ( max-width: 991px ) {

		/* your CSS here */

	}

	/* -------------------------------------------------------------------------
        SMALL DEVICES
		devices with width between 481px and 767px
    ------------------------------------------------------------------------- */

    @media ( max-width: 767px ) {

		/* your CSS here */

	}

	/* -------------------------------------------------------------------------
        EXTRA SMALL DEVICES
		devices with width up to 480px
    ------------------------------------------------------------------------- */

	@media ( max-width: 480px ) {

		/* your CSS here */

	}

.selectbox-input option {
	padding: 5px 15px;
	transition: all 150ms ease-in-out;
}

.product-list .product-category {
	width: 50%;
}

.product-list .product:nth-child(3n+1) {
	clear: none;
}

.c-testimonial.m-has-portrait .testimonial-inner {
	padding: 0px 90px;
	margin: 0 auto;
}

.header-bg {
	background-color: rgba(235, 1, 139, 0.6);
}

#core.core-bg-1 {
	background: none;
}

@media (max-height: 800px) {
	.header-navigation {
		margin-top: 8px;
	}
}

.hero-top {
	background: url('https://res.cloudinary.com/comececeme/image/upload/v1598328299/self/home-top-a_ot7axp.png') no-repeat;
	background-size: cover;
	height: 600px;
	width: 100%;
}

.hero-container {
	position: relative;
}

.hero-text {
	position: absolute;
    top: 30%;
	left: 34%;
	width: 60%;
}

.hero-text h1 {
	padding: 0;
    line-height: 1.1em;
    font-family: "Montserrat",Arial,sans-serif;
    font-size: 1.8em;
    font-weight: bold;
	text-transform: uppercase;
	color: #EF008B;
	text-align: center;
}

.hero-text h3 {
    margin-top: 12px;
    line-height: 1.2em;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 1.5em;
    font-weight: 300;
	text-transform: none;
	text-align: center
}

.header-branding {
	padding-top: 12px;
}

.hero-text h3 {
	line-height: 1.2em;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    text-transform: none;
}

.product-list .product-title {
	min-height: auto;
	font-size: 1em;
	padding: 10px 0;
}

.product-list .product-title .product-link {
	padding: 150px 20px;
}

.hero-header {
    color: #ff007c;
	-webkit-text-stroke: 0.01em rgba(255,0,124,0.5);
	padding: 0;
    line-height: 1.1em;
    font-family: "Montserrat",Arial,sans-serif;
    font-size: 3.75em;
    font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	top: 40px;
	left: 90px;
	position: absolute;
}

@media (max-width: 1500px) {
	.hero-header {
		font-size: 3em;
	}
}

@media (max-width: 878px) {
	.hero-header {
		font-size: 2.75em;
	}
}

@media (max-width: 818px) {
	.hero-header {
		font-size: 2.5em;
	}
}

@media (max-width: 768px) {
	.hero-header {
		font-size: 2.1em;
	}
}

@media (max-width: 667px) {
	.hero-header {
		font-size: 1.8em;
	}
}

@media (max-width: 594px) {
	.hero-header {
		font-size: 1.4em;
	}
}

@media (max-width: 484px) {
	.hero-header {
		font-size: 1.1em;
		width: 200px;
		top: 10px;
		left: 60px;
	}
}


