/* -----------------------------------------------------------------------------

This file should be used to add your own CSS definitions or override
the existing ones.

----------------------------------------------------------------------------- */

/* your CSS here */

	.testimonial-inner .fa.fa-star {
		color: #ff007c;
	}

	#authentication-form form {
		display: inline-block;
	}

	#paymentCard, #paymentCVV, #paymentExpiration, #paymentPostalCode {
		border: 1px solid #e1e1e1;
		border-radius: 5px;
		-webkit-transition: border-color 160ms;
		transition: border-color 160ms;
	}

	.custom-hosted-field {
		height: 30px;
		padding-left: 10px;
	}

	.accordian-title-without {
		color: #3f3f3f;
		position: relative;
		margin: 0;
		padding: 18px 15px 18px 40px;
		font-size: 1em;
		font-weight: bold;
		text-transform: uppercase;
	}

/* -----------------------------------------------------------------------------

    RESPONSIVE DEFINITIONS

----------------------------------------------------------------------------- */

    /* -------------------------------------------------------------------------
        LARGE DEVICES
		devices with width between 992px and 1199px
    ------------------------------------------------------------------------- */

    @media ( max-width: 1199px ) {

		/* your CSS here */

	}

    /* -------------------------------------------------------------------------
        MEDIUM DEVICES
		devices with width between 768px and 991px
    ------------------------------------------------------------------------- */

    @media ( max-width: 991px ) {

		/* your CSS here */

	}

	/* -------------------------------------------------------------------------
        SMALL DEVICES
		devices with width between 481px and 767px
    ------------------------------------------------------------------------- */

    @media ( max-width: 767px ) {

		/* your CSS here */

	}

	/* -------------------------------------------------------------------------
        EXTRA SMALL DEVICES
		devices with width up to 480px
    ------------------------------------------------------------------------- */

	@media ( max-width: 480px ) {

		/* your CSS here */

	}
