{% extends 'layout.html' %}

{% block content %}
<!-- CORE : begin -->
<div id="core" class="core-bg-1">
    <!-- PAGE HEADER : begin -->
    <div id="page-header">
        <div class="container">
            <h1>403 Client Error</h1>
            <ul class="breadcrumbs">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
    <!-- PAGE HEADER : begin -->
    <div class="container">
        <!-- PAGE CONTENT : begin -->
        <div id="page-content">
            <div class="various-content">
                <!-- INTRO SECTION : begin -->
                <section>
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Unauthorized Access</h2>
                            <a href="{{ url_for('main.index') }}">Go to the home page</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- PAGE CONTENT : end -->
    </div>
</div>
<!-- CORE : end -->
{% endblock %}