{% extends 'admin/layout.html' %}

{% block body %}
<div class="container-fluid">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Products</li>
    </ol>

    
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-user mr-1"></i>
            Edit Product
        </div>
        <!-- EDIT USER FORM : begin -->
        <div class="card-body">
            <div class="table-responsive">
                <h5>Edit a Product</h5>
                <form class="form-inline edit-user-form" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group custom-form">
                        {{ form.pattern(class="form-control", style="margin-right: 15px") }}
                        {{ form.category(class="form-control", style="margin-right: 15px") }}
                        {{ form.price(class='form-control', placeholder="Price", value=product.price) }}
                        {{ form.length(class='form-control', placeholder="Hair Length", value=product.length) }}
                        {#{{ form.bundle_length(class='form-control', placeholder="Bundle Length: optional") }}#}
                        <!-- <div class="form-check">
                            <label class="form-check-label">
                            {# {{ form.is_admin(class="form-check-input") }} #}
                            {# {{ form.is_admin.label }} #}
                            </label>
                        </div> -->
                        {{ form.submit(class="btn btn-outline-primary") }}
                    </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- EDIT USER FORM : end -->

        <!-- USERS TABLE : begin -->
        {# {% include './admin/partials/products-table.html' %} #}
        <!-- USERS TABLE : end -->
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    // var roleOption = $(`#role option[value=${roleId}]`);
    $('#pattern').val('{{ product.pattern_id }}')
    $('#category').val('{{ product.category_id }}')
</script>
{% endblock %}