<h4>Thanks for your order!</h4>

<p>Hi {{ email.lower() }},</p>
<p>We're processing your order. Thanks for shopping with us.</p>
<!-- <p>Shipping & Handling: $x.XX</p>
<p>Sales Tax: $X.XX</p> -->
<!-- <div><strong>Order #: {{ order_no }}</strong></div> -->
<div><strong>Order date: {{ transactionDate }}</strong></div>
<!-- <p>Service: {{ description }}</p> -->
<hr>
<p>
  {% for p in products %}
    <div>
        {% if p['category']=='Bundles' %}{{ p['bundle_length'] }}{% else %}{{ p['length'] }}"{% endif %} {{ p['name'] }} {% if p['category']=='Bundles' %} Bundles{% else %} Extensions{% endif %}
      <span style="float:right">${{ "{:,.2f}".format(p['price']) }} x{{ p['quantity'] }}</span>
      <!-- <cite>
        {{ p.prod_id }}
      </cite> -->
    </div>
    {% endfor %}
    <hr>
</p>
<p>
  <div>
    Subtotal
    <span style="float:right;"><strong>${{ "{:,.2f}".format(total) }}</strong></span>
  </div>
  {% if coupon %}
    <div>
      Discount
      <span style="float:right; color:red;"><strong>&ndash; {{ '{:,.0f}%'.format(coupon.discount * 100) }}</strong></span>
    </div>
  {% endif %}
  <div>
    Tax
    <span style="float:right;"><strong>{{ '${:.2f}'.format(total * tax) }}</strong></span>
  </div>
  <div>
    Total
    <span style="float:right;">
        {% if coupon and coupon.discount != 0 %}
            <strong>${{ '{:.2f}'.format(total + total*tax - total*coupon.discount) }}</strong>
        {% else %}
            <strong>{{ '${:.2f}'.format(total + total*tax) }}</strong>
        {% endif %}
    </span>
  </div>
</p>
{% if note %}
<p>
    <div><strong>Note from customer:</strong></div>
    <div>{{ note }}</div>
</p>
{% endif %}

<br>

<small>
  Prices and availability of items may vary and are subject to change without notice. Some items may ship separately due to availability and shipping method.
</small>