<section>
    <!-- SECTION HEADER : begin -->
    <header>
        <div class="container">
            <h2>Our Favourite brands</h2>
            <p class="subtitle">We use only the high quality original products</p>
        </div>
    </header>
    <!-- SECTION HEADER : end -->
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <p class="textalign-center">
                    <!-- BRAND LOGO : begin -->
                    <a href="#" class="no-border"><img src="{{ url_for('static', filename='images/brand_01.png') }}" alt=""></a>
                    <!-- BRAND LOGO : end -->
                </p>
            </div>
            <div class="col-sm-3">
                <p class="textalign-center">
                    <!-- BRAND LOGO : begin -->
                    <a href="#" class="no-border"><img src="{{ url_for('static', filename='images/brand_02.png') }}" alt=""></a>
                    <!-- BRAND LOGO : end -->
                </p>
            </div>
            <div class="col-sm-3">
                <p class="textalign-center">
                    <!-- BRAND LOGO : begin -->
                    <a href="#" class="no-border"><img src="{{ url_for('static', filename='images/brand_03.png') }}" alt=""></a>
                    <!-- BRAND LOGO : end -->
                </p>
            </div>
            <div class="col-sm-3">
                <p class="textalign-center">
                    <!-- BRAND LOGO : begin -->
                    <a href="#" class="no-border"><img src="{{ url_for('static', filename='images/brand_04.png') }}" alt=""></a>
                    <!-- BRAND LOGO : end -->
                </p>
            </div>
        </div>
    </div>
</section>