<!-- BOTTOM PANEL : begin -->
<div id="bottom-panel">
    <div class="bottom-panel-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- BOTTOM TEXT : begin -->
                    <div class="bottom-text various-content">
                        <h3>#COMECECEME_LLC ON INSTAGRAM</h3>
                        <p><a target="_blank" href="https://instagram.com/comececeme_llc?igshid=13mvj5e6ruqdb" class="c-button submit-btn">FOLLOW US</a></p>
                    </div>
                    <!-- BOTTOM TEXT : end -->
                </div>
                <div class="col-sm-6">
                    <!-- BOTTOM SUBSCRIBE : begin -->
                    <div class="bottom-subscribe various-content">
                        <h3>Newsletter</h3>
                        <p>Get the latest updates</p>
                        <form id="subscribe-form" action="{{ url_for('main.mailchimp_subscribe') }}" method="POST">
                            <!-- VALIDATION ERROR MESSAGE : begin -->
                            <p style="display: none;" class="c-alert-message m-warning m-validation-error"><i class="ico fa fa-exclamation-circle"></i>Email address is required.</p>
                            <!-- VALIDATION ERROR MESSAGE : end -->
                            <!-- SENDING REQUEST ERROR MESSAGE : begin -->
                            <p style="display: none;" class="c-alert-message m-warning m-request-error"><i class="ico fa fa-exclamation-circle"></i>There was a connection problem. Try again later.</p>
                            <!-- SENDING REQUEST ERROR MESSAGE : end -->
                            <!-- SUCCESS MESSAGE : begin -->
                            <p style="display: none;" class="c-alert-message m-success"><i class="ico fa fa-check-circle"></i><strong>Sent successfully.</strong></p>
                            <!-- SUCCESS MESSAGE : end -->
                            <div class="form-fields">
                                <input class="m-required m-email" name="EMAIL" type="text" data-placeholder="Your email address" title="Your email address">
                                <button class="c-button submit-btn" type="submit" data-label="Subscribe" data-loading-label="Sending...">Subscribe</button>
                            </div>
                        </form>
                    </div>
                    <!-- BOTTOM SUBSCRIBE : end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BOTTOM PANEL : end -->

<footer id="footer">
    <div class="container">
        <!-- FOOTER TWITTER : end -->
        <!-- FOOTER BOTTOM : begin -->
        <div class="footer-bottom">
            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <!-- FOOTER MENU : begin -->
                    <!-- <nav class="footer-menu">
                        <ul>
                            <li><a href="{{ url_for('main.index') }}">Home</a></li>
                            <li><a href="{{ url_for('services.index') }}">Services</a></li>
                        </ul>
                    </nav> -->
                    <!-- FOOTER MENU : end -->
                </div>
                <div class="col-md-6 col-md-pull-6">
                    <!-- FOOTER TEXT : begin -->
                    <div class="footer-text">
                        <p>&copy; <span id="copyright-date"></span> ComeCeCeMe, LLC. All Rights Reserved.</p>
                        <!-- <p>Designed by <a href="https://zaraconsulting.org">Zara Consulting</a></p> -->
                        <p>Designed by <strong>Zara Consulting</strong></p>
                    </div>
                    <!-- FOOTER TEXT : end -->
                </div>
            </div>
        </div>
        <!-- FOOTER BOTTOM : end -->
    </div>
</footer>