<header id="header" class="m-animated">
    <div class="header-bg">
        <div class="header-inner">
            <!-- HEADER BRANDING : begin -->
            <div class="header-branding">
                <a href="{{ url_for('main.index') }}"><img src="https://placehold.it/291x75&text=Logo" alt="ComeCeCeMe" width="291"></a>
            </div>
            <!-- HEADER BRANDING : end -->
            <!-- HEADER NAVIGATION : begin -->
            {% include './partials/navigation.html' %}
            <!-- HEADER NAVIGATION : end -->
            <!-- HEADER PANEL : begin -->
            <div class="header-panel">
                <button class="header-panel-toggle" type="button"><i class="fa"></i></button>

                <!-- HEADER RESERVATION : begin -->
                <div class="header-reservation">
                    <a href="https://app.acuityscheduling.com/schedule.php?owner=20293050" target="_blank" id="schedule-editor" class="c-button">Make a Reservation</a>
                </div>
                <!-- HEADER RESERVATION : end -->
                
                <!-- HEADER CONTACT : begin -->
                <div class="header-contact">
                    <ul>
                        <!-- PHONE : begin -->
                        <li>
                            <div class="item-inner">
                                <i class="ico fa fa-phone"></i>
                                <strong>(773) 822-3445</strong>
                            </div>
                        </li>
                        <!-- PHONE : end -->
                        <!-- EMAIL : begin -->
                        <li>
                            <div class="item-inner">
                                <i class="ico fa fa-envelope-o"></i>
                                <a href="#">email@comececeme.com</a>
                            </div>
                        </li>
                        <!-- EMAIL : end -->
                        <!-- ADDRESS : begin -->
                        <li>
                            <div class="item-inner">
                                <i class="ico fa fa-map-marker"></i>
                                <strong>ComeCeCeMe</strong><br> 8100 S Stony Island<br> Chicag, IL 60617 </div>
                        </li>
                        <!-- ADDRESS : end -->
                        <!-- HOURS : begin -->
                        <li>
                            <div class="item-inner">
                                <i class="ico fa fa-clock-o"></i>
                                <dl>
                                    <dt>Mo. - Th.:</dt>
                                    <dd>5:30a - 8:30p</dd>
                                    <dt>Fr.:</dt>
                                    <dd>5:30a - 8:45p</dd>
                                    <dt>Sa.:</dt>
                                    <dd>5:00a - 9:00p</dd>
                                    <dt>Su.:</dt>
                                    <dd>5:00a - 8:00p</dd>
                                </dl>
                            </div>
                        </li>
                        <!-- HOURS : end -->
                    </ul>
                </div>
                <!-- HEADER CONTACT : end -->
                <!-- HEADER SOCIAL : begin -->
                <div class="header-social">
                    <ul>
                        <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
                <!-- HEADER SOCIAL : end -->
            </div>
            <!-- HEADER PANEL : end -->
        </div>
    </div>
</header>