<div class="header-navigation">
    <!-- HEADER MENU : begin -->
    <nav class="header-menu">
        <button class="header-menu-toggle" type="button"><i class="fa fa-bars"></i>MENU</button>
        <ul>
            {% for href, id, caption in navigation_bar %}
                {% if id == 'shop.index' %}
                    <li {% if active_page == 'shop.index' or active_page == 'shop.cart' or active_page == 'shop.checkout' %} class="m-active" {% endif %}>
                        <span><a href="{{ url_for('shop.index') }}">Shop</a></span>
                        <ul class="sub-menu">
                            <li><a href="{{ url_for('shop.index') }}">Products</a></li>
                            <li><a href="{{ url_for('shop.cart') }}">Cart</a></li>
                            <li><a href="{{ url_for('shop.cart_checkout') }}">Checkout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li {% if id == active_page %} class="m-active" {% endif %}>
                        <span><a href="{{ url_for(id) }}">{{ caption|e }}</a></span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    <!-- HEADER MENU : end -->
    <!-- HEADER CART : begin -->
    <div class="header-cart">
        <div class="header-cart-inner">
            <a href="{{ url_for('shop.cart') }}"><i class="cart-ico fa fa-shopping-cart"></i><span class="cart-label">Cart</span><span class="cart-count">({{ shopping_cart['full']|length }} items)</span></a>
        </div>
    </div>
    <!-- HEADER CART : end -->
    <!-- HEADER SEARCH : begin -->
    <!-- <div class="header-search">
        <div class="header-search-inner">
            <form class="search-form" action="search-results.html">
                <i class="search-ico fa fa-search"></i>
                <input class="search-input" type="text" placeholder="Search for...">
                <button class="search-submit" type="submit"><i class="fa fa-angle-right"></i></button>
                <button class="search-toggle" type="button">Search</button>
            </form>
        </div>
        <button class="search-toggle-mobile" type="button"><i class="fa"></i></button>
    </div> -->
    <!-- HEADER SEARCH : end -->
</div>