<div class="related-products">
    <h2 class="heading-2">Related Products</h2>
    <div class="row">
        <div class="col-sm-4">
            <!-- PRODUCT : begin -->
            <div class="product">
                <p class="product-image">
                    <a href="{{ url_for('shop.get_product') }}"><img src="{{ url_for('static', filename='images/product_01_thumb.jpg') }}" alt=""></a>
                </p>
                <h4 class="product-title"><a href="{{ url_for('shop.get_product') }}">Almond Supple Skin Oil</a></h4>
                <p class="product-price">$35.50</p>
            </div>
            <!-- PRODUCT : end -->
        </div>
        <div class="col-sm-4">
            <!-- PRODUCT : begin -->
            <div class="product">
                <p class="product-image">
                    <a href="{{ url_for('shop.get_product') }}"><img src="{{ url_for('static', filename='images/product_02_thumb.jpg') }}" alt=""></a>
                </p>
                <h4 class="product-title"><a href="{{ url_for('shop.get_product') }}">Almond Tonic Body Oil</a></h4>
                <p class="product-price">$36.50</p>
            </div>
            <!-- PRODUCT : end -->
        </div>
        <div class="col-sm-4">
            <!-- PRODUCT : begin -->
            <div class="product">
                <p class="product-image">
                    <a href="{{ url_for('shop.get_product') }}"><img src="{{ url_for('static', filename='images/product_03_thumb.jpg') }}" alt=""></a>
                </p>
                <h4 class="product-title"><a href="{{ url_for('shop.get_product') }}">Aroma Volumizing Mask</a></h4>
                <p class="product-price"><span class="old-price">$27.20</span>$24.20</p>
            </div>
            <!-- PRODUCT : end -->
        </div>
    </div>
</div>