<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th></th>
                    <th>Name</th>
                    <th>Display Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <!-- <th>ID</th> -->
                    <th></th>
                    <th>Name</th>
                    <th>Display Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                {% for c in categories %}
                <tr>
                    {% if current_user.role.rank < 4 %}
                      <td style="text-align: center;">
                        <span class="edit-icon">
                            <a href="{{ url_for('admin.edit_hair_category', id=c.id) }}">
                                <i class="far fa-edit text-info"></i>
                            </a>
                        </span>
                        </td>
                        {% endif %}
                        <td>{{ c.name }}</td>
                        <td>{{ c.display_name }}</td>
                        <td>{{ c.description }}</td>
                        <td>{{ c.image }}</td>
                        {% if current_user.role.rank < 3 %}
                        <td style="text-align: center;">
                            <span class="delete-icon">
                                <a href="{{ url_for('admin.delete_hair_category', id=c.id) }}">
                                    <i class="fa fa-trash-alt text-danger"></i>
                                </a>
                            </span>
                        </td>
                        {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>