{% extends 'layout.html' %}
{% set active_page = 'shop.reservation' %}

{% block content %}
<!-- CORE : begin -->
<div id="core">
	<!-- PAGE HEADER : begin -->
	<div id="page-header">
		<div class="container">
			<h1>Booking</h1>
			<ul class="breadcrumbs">
				<li><a href="{{ url_for('main.index') }}">Home</a></li>
				<li>Booking</li>
			</ul>
		</div>
	</div>
	<!-- PAGE HEADER : begin -->
	<div class="container">
		<!-- PAGE CONTENT : begin -->
		<div id="page-content">
			<!-- SHOP CHECKOUT : begin -->
			<div class="shop-reservation">
				<form id="reservation-form" class="default-form m-validate" action="{{ url_for('booking.index') }}" method="POST">
                    <!-- {{ form.hidden_tag() }}
					<input type="hidden" name="payment_method_nonce" id="payment_method_nonce"> -->
					<!-- FORM VALIDATION ERROR MESSAGE : begin -->
					<p class="c-alert-message m-warning m-validation-error" style="display: none;"><i class="ico fa fa-exclamation-circle"></i>Please fill in all required (*) fields.</p>
                    <!-- FORM VALIDATION ERROR MESSAGE : end -->
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="heading-2">Make a Reservation</h2>
                            <p id="reservation-text">Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                        </div>
                    </div>
                    <!-- SERVICE LIST : begin -->
                    <div class="form-field">
                        
                        <div class="row">
                            <div class="col-sm-6">
                                <h5 class="form-field-title">Choose the type of service</h5>
                                <!-- SERVICE FIELD : begin -->
                                {{ form.service_category(class="selectbox-input", id="reservation-category") }}
                                <!-- SERVICE FIELD : end -->
                            </div>
                            <div style="display: none;" class="col-sm-6" id="service-dropdown">
                                <h5 class="form-field-title">Choose the service</h5>
                                {{ form.services(class="selectbox-input", id="reservation-service") }}
                            </div>
                        </div>
                    </div>
                    <hr class="c-divider">
                    <!-- SERVICE LIST : end -->
					<div class="row">
						<div class="col-sm-6">
							<!-- BILLING ADDRESS : begin -->
							<div class="billing-address">
								<div class="row">
									<div class="col-sm-12">
										<!-- FIRST NAME FIELD : begin -->
										<div class="form-field">
											<label for="reservation-name">Your Name <span>*</span></label>
											{{ form.name(class="m-required", id="reservation-name") }}
										</div>
										<!-- FIRST NAME FIELD : end -->
									</div>
								</div>
								<!-- COMPANY FIELD : begin -->
								<!-- COUNTRY FIELD : end -->
								<div class="row">
									<div class="col-sm-12">
										<!-- FIRST NAME FIELD : begin -->
										<div class="form-field">
                                            <label for="reservation-email">Your Email <span>*</span></label>
                                            {{ form.email(class="m-required", id="reservation-email") }}
										</div>
										<!-- FIRST NAME FIELD : end -->
									</div>
								</div>
								<!-- COMPANY FIELD : begin -->
								<!-- COUNTRY FIELD : end -->
								<div class="row">
									<div class="col-sm-12">
										<!-- FIRST NAME FIELD : begin -->
										<div class="form-field">
                                            <label for="reservation-phone-number">Your Phone Number <span>*</span></label>
                                            {{ form.phone(class="m-required", id="reservation-phone-number") }}
										</div>
										<!-- FIRST NAME FIELD : end -->
									</div>
								</div>
							</div>
							<!-- BILLING ADDRESS : end -->
						</div>
						<div class="col-sm-6">
							<!-- SHIPPING ADDRESS : begin -->
							<!-- <div class="billing-address"> -->
								<!-- <h2 class="heading-2">Billing Address</h2> -->
								<!-- COUNTRY FIELD : begin -->
								<!-- <div class="form-field">
									<label for="reservation-country">Country <span>*</span></label>
									<select class="selectbox-input m-required" id="reservation-country">
										<option value="country1">Country 1</option>
										<option value="country2" selected="selected">Country 2</option>
										<option value="country3">Country 3</option>
										<option value="country4">Country 4</option>
										<option value="country5">Country 5</option>
										<option value="country6">Country 6</option>
										<option value="country7">Country 7</option>
										<option value="country8">Country 8</option>
									</select>
								</div> -->
                            <!-- </div> -->
                            <!-- DATEPICKER FIELD : begin -->
                            <div class="form-field">
                                <label for="reservation-date">Preferred Date & Time</label>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="datepicker-input" data-date-format="mm/dd/yy" data-first-day="0">
                                            {{ form.date(id="reservation-date") }}
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form.time(id="reservation-time", class="selectbox-input") }}
                                    </div>
                                </div>
                            </div>
                            <!-- DATEPICKER FIELD : end -->
							<!-- BILLING ADDRESS : end -->
							<!-- NOTE : begin -->
							<div class="form-field">
								<label for="reservation-note">Note</label>
								{{ form.note(id="reservation-note") }}
							</div>
							<!-- NOTE : end -->
							<!-- NOTE : begin -->
							<div class="form-field">
                                <button id="reservation-btn" class="c-button submit-btn" type="submit">Send Message</button>
                                {# {{ form.submit(id="reservation-btn", class="c-button submit-btn") }} #}
							</div>
							<!-- NOTE : end -->
                        </div>
					</div>
                    <!-- FORM NOTE : begin -->
                    <div class="form-note">
                        <p id="booking-deposit"><span>**</span> All bookings require a $50 deposit</p>
                    </div>
                    <!-- FORM NOTE : end -->
				</form>
			</div>
			<!-- SHOP CHECKOUT : end -->
		</div>
		<!-- PAGE CONTENT : end -->
	</div>
</div>
<!-- CORE : end -->
{% endblock %}

{% block scripts %}
    {{ super() }}
    
    <script>
        var element = $('button.toggle')[0];
        setTimeout(() => console.log(element), 3000)
        console.log(element)
	</script>
	
	<script>
		var typeOfService = $('#reservation-category');
		var reservationService = $('#service-dropdown');

		typeOfService.on('change', (e) => reservationService.css('display', 'block'));
		// typeOfService.on('change', (e) => console.log(typeOfService.val()));
	</script>
{% endblock %}