{% extends 'layout.html' %}
{% set active_page = 'main.contact' %}

{% block content %}
<!-- CORE : begin -->
<div id="core">
	<!-- PAGE HEADER : begin -->
	<div id="page-header">
		<div class="container">
			<h1>Contact</h1>
			<ul class="breadcrumbs">
				<li><a href="{{ url_for('main.index') }}">Home</a></li>
				<li>Contact</li>
			</ul>
		</div>
	</div>
	<!-- PAGE HEADER : begin -->
	<div class="container">
		<!-- PAGE CONTENT : begin -->
		<div id="page-content">
			<div class="various-content">
				<!-- ADDRESS SECTION : begin -->
				<section>
					<h2>Where you can find us</h2>
					<div class="row">
						<div class="col-lg-8">
							<!-- MAP : begin -->
							<div class="c-map">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4743.894667378755!2d-87.58702549901055!3d41.74739399190727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e288f00de1545%3A0x90aeff6af36ea45f!2s8100%20S%20Stony%20Island%20Ave%2C%20Chicago%2C%20IL%2060617!5e0!3m2!1sen!2sus!4v1590467519860!5m2!1sen!2sus" width="628" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
							</div>
							<!-- MAP : end -->
						</div>
						<div class="col-lg-4">
							<p>Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.Aliquam lorem ante, dapibus in.</p>
							<!-- ICON BLOCK : begin -->
							<div class="c-icon-block">
								<i class="ico fa fa-map-marker"></i>
								<div class="icon-block-inner">
									<p>
										<strong>ComeCeCeMe</strong><br> 8100 S Stony Island Ave<br> Chicago, IL 60617 </p>
								</div>
							</div>
							<!-- ICON BLOCK : end -->
							<!-- ICON BLOCK : begin -->
							<div class="c-icon-block">
								<i class="ico fa fa-clock-o"></i>
								<div class="icon-block-inner">
									<dl>
										<dt>Mo. - Th.:</dt>
										<dd>5:30a - 8:30p</dd>
										<dt>Fr.:</dt>
										<dd>5:30a - 8:45p</dd>
										<dt>Sa.:</dt>
										<dd>5:00a - 9:00p</dd>
										<dt>Su.:</dt>
										<dd>5:00a - 8:00p</dd>
									</dl>
								</div>
							</div>
							<!-- ICON BLOCK : end -->
						</div>
					</div>
				</section>
				<!-- ADDRESS SECTION : end -->
				<!-- FORM SECTION : begin -->
				<section>
					<h2>Send us a message</h2>
					<div class="row">
						<div class="col-lg-8">
							<!-- CONTACT FORM : begin -->
							<form id="contact-form" class="default-form m-ajax-form" action="" method="post">
								<input type="hidden" name="contact-form">
								<!-- FORM VALIDATION ERROR MESSAGE : begin -->
								<p class="c-alert-message m-warning m-validation-error" style="display: none;"><i class="ico fa fa-exclamation-circle"></i>Please fill in all required (*) fields.</p>
								<!-- FORM VALIDATION ERROR MESSAGE : end -->
								<!-- SENDING REQUEST ERROR MESSAGE : begin -->
								<p class="c-alert-message m-warning m-request-error" style="display: none;"><i class="ico fa fa-exclamation-circle"></i>There was a connection problem. Try again later.</p>
								<!-- SENDING REQUEST ERROR MESSAGE : end -->
								<div class="row">
									<div class="col-sm-6">
										<!-- NAME FIELD : begin -->
										<div class="form-field">
											<label for="contact-name">Your Name <span>*</span></label>
											<input id="contact-name" name="contact-name" class="m-required">
										</div>
										<!-- NAME FIELD : end -->
										<!-- EMAIL FIELD : begin -->
										<div class="form-field">
											<label for="contact-email">Your Email Address <span>*</span></label>
											<input id="contact-email" name="contact-email" class="m-required m-email">
										</div>
										<p style="display: none;">
											<label for="contact-email-hp">Re Email Address</label>
											<input id="contact-email-hp" name="contact-email-hp">
										</p>
										<!-- EMAIL FIELD : end -->
										<!-- PHONE FIELD : begin -->
										<div class="form-field">
											<label for="contact-phone">Your Phone Number</label>
											<input id="contact-phone" name="contact-phone">
										</div>
										<!-- PHONE FIELD : end -->
									</div>
									<div class="col-sm-6">
										<!-- SUBJECT FIELD : begin -->
										<div class="form-field">
											<label for="contact-subject">Message Subject</label>
											<input id="contact-subject" name="contact-subject">
										</div>
										<!-- SUBJECT FIELD : end -->
										<!-- MESSAGE FIELD : begin -->
										<div class="form-field">
											<label for="contact-message">Message <span>*</span></label>
											<textarea id="contact-message" name="contact-message" class="m-required"></textarea>
										</div>
										<!-- MESSAGE FIELD : end -->
										<!-- SUBMIT BUTTON : begin -->
										<div class="form-field">
											<button class="submit-btn c-button" type="submit" data-label="Send Message" data-loading-label="Sending...">Send Message</button>
										</div>
										<!-- SUBMIT BUTTON : end -->
									</div>
								</div>
							</form>
							<!-- CONTACT FORM : end -->
						</div>
						<div class="col-lg-4">
							<!-- ICON BLOCK : begin -->
							<div class="c-icon-block">
								<i class="ico fa fa-info-circle"></i>
								<div class="icon-block-inner">
									<p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
									<p><a href="https://app.acuityscheduling.com/schedule.php?owner=20293050" target="_blank" class="c-button m-type-2 m-open-ajax-modal">Make a Reservation</a></p>
								</div>
							</div>
							<!-- ICON BLOCK : end -->
						</div>
					</div>
				</section>
				<!-- FORM SECTION : end -->
			</div>
		</div>
		<!-- PAGE CONTENT : end -->
	</div>
</div>
<!-- CORE : end -->
{% endblock %}