{% extends './layout.html' %}
{% set active_page = "main.faqs" %}

{% block content %}
	<!-- CORE : begin -->
	<div id="core">

		<!-- PAGE HEADER : begin -->
		<div id="page-header">
			<div class="container">
				<h1>Faqs</h1>
				<ul class="breadcrumbs">
					<li><a href="{{ url_for('main.index') }}">Home</a></li>
					<li>FAQs</li>
				</ul>
			</div>
		</div>
		<!-- PAGE HEADER : begin -->

		<div class="container">

			<!-- PAGE CONTENT : begin -->
			<div id="page-content">
				<div class="various-content">

					<!-- ACCORDION SECTION : begin -->
					<section>

						<h2>Frequently Asked Questions</h2>

						<div class="row">
							<div class="col-sm-6">

								<!-- ACCORDION : begin -->
								<ul class="c-accordion">
									<li class="m-active">
										<h3 class="accordion-title">Nulla consequat massa</h3>
										<div class="accordion-content">
											<p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
										</div>
									</li>
									<li>
										<h3 class="accordion-title">Vivamus elementum semper</h3>
										<div class="accordion-content">
											<p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
										</div>
									</li>
									<li>
										<h3 class="accordion-title">Etiam ultricies nisi vel</h3>
										<div class="accordion-content">
											<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.</p>
										</div>
									</li>
									<li>
										<h3 class="accordion-title">Etiam ultricies nisi vel</h3>
										<div class="accordion-content">
											<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.</p>
										</div>
									</li>
									<li>
										<h3 class="accordion-title">Etiam ultricies nisi vel</h3>
										<div class="accordion-content">
											<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.</p>
										</div>
									</li>
									<li>
										<h3 class="accordion-title">Etiam ultricies nisi vel</h3>
										<div class="accordion-content">
											<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.</p>
										</div>
									</li>
									<li>
										<h3 class="accordion-title">Etiam ultricies nisi vel</h3>
										<div class="accordion-content">
											<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.</p>
										</div>
									</li>
									<li>
										<h3 class="accordion-title">Etiam ultricies nisi vel</h3>
										<div class="accordion-content">
											<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.</p>
										</div>
									</li>
									<li>
										<h3 class="accordion-title">Etiam ultricies nisi vel</h3>
										<div class="accordion-content">
											<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.</p>
										</div>
									</li>
									<li>
										<h3 class="accordion-title">Etiam ultricies nisi vel</h3>
										<div class="accordion-content">
											<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.</p>
										</div>
									</li>
									<li>
										<h3 class="accordion-title">Etiam ultricies nisi vel</h3>
										<div class="accordion-content">
											<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.</p>
										</div>
									</li>
									<li>
										<h3 class="accordion-title">Etiam ultricies nisi vel</h3>
										<div class="accordion-content">
											<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.</p>
										</div>
									</li>
									<li>
										<h3 class="accordion-title">Etiam ultricies nisi vel</h3>
										<div class="accordion-content">
											<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.</p>
										</div>
									</li>
									<li>
										<h3 class="accordion-title">Etiam ultricies nisi vel</h3>
										<div class="accordion-content">
											<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.</p>
										</div>
									</li>
									<li>
										<h3 class="accordion-title">Etiam ultricies nisi vel</h3>
										<div class="accordion-content">
											<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.</p>
										</div>
									</li>
									<li>
										<h3 class="accordion-title">Etiam ultricies nisi vel</h3>
										<div class="accordion-content">
											<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.</p>
										</div>
									</li>
									<li>
										<h3 class="accordion-title">Etiam ultricies nisi vel</h3>
										<div class="accordion-content">
											<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.</p>
										</div>
									</li>
									<li>
										<h3 class="accordion-title">Etiam ultricies nisi vel</h3>
										<div class="accordion-content">
											<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.</p>
										</div>
									</li>
									<li>
										<h3 class="accordion-title">Etiam ultricies nisi vel</h3>
										<div class="accordion-content">
											<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.</p>
										</div>
									</li>
									<li>
										<h3 class="accordion-title">Etiam ultricies nisi vel</h3>
										<div class="accordion-content">
											<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.</p>
										</div>
									</li>
									<li>
										<h3 class="accordion-title">Etiam ultricies nisi vel</h3>
										<div class="accordion-content">
											<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.</p>
										</div>
									</li>
									<li>
										<h3 class="accordion-title">Etiam ultricies nisi vel</h3>
										<div class="accordion-content">
											<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.</p>
										</div>
									</li>
									<li>
										<h3 class="accordion-title">Etiam ultricies nisi vel</h3>
										<div class="accordion-content">
											<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.</p>
										</div>
									</li>
								</ul>
								<!-- ACCORDION : end -->

							</div>
						</div>

					</section>
					<!-- ACCORDION SECTION : end -->
				</div>
			</div>
			<!-- PAGE CONTENT : end -->

		</div>

	</div>
	<!-- CORE : end -->
{% endblock %}