{% extends './layout.html' %}
{% set active_page = "faqs.index" %}

{% block content %}
	<!-- CORE : begin -->
	<div id="core">

		<!-- PAGE HEADER : begin -->
		<div id="page-header">
			<div class="container">
				<h1>Faqs</h1>
				<ul class="breadcrumbs">
					<li><a href="{{ url_for('main.index') }}">Home</a></li>
					<li>FAQs</li>
				</ul>
			</div>
		</div>
		<!-- PAGE HEADER : begin -->

		<div class="container">

			<!-- PAGE CONTENT : begin -->
			<div id="page-content">
				<div class="various-content">

					<!-- ACCORDION SECTION : begin -->
					<section>

						<h2>Frequently Asked Questions</h2>

						<div class="row">
							<div class="col-sm-6">

								<!-- ACCORDION : begin -->
								<ul class="c-accordion">
									{% for faq in faqs %}
										<li>
											<h3 class="accordion-title">{{ faq.question }}</h3>
											<div class="accordion-content">
												<p>{{ faq.answer }}</p>
											</div>
										</li>
									{% endfor %}
								</ul>
								<!-- ACCORDION : end -->

							</div>
						</div>

					</section>
					<!-- ACCORDION SECTION : end -->
				</div>
			</div>
			<!-- PAGE CONTENT : end -->

		</div>

	</div>
	<!-- CORE : end -->
{% endblock %}

{% block scripts %}
	{{ super() }}

{% endblock %}