{% extends 'layout.html' %}
{% set active_page = 'gallery.index' %}

{% block content %}
<!-- CORE : begin -->
<div id="core">
	<!-- PAGE HEADER : begin -->
	<div id="page-header">
		<div class="container">
			<h1>Gallery</h1>
			<ul class="breadcrumbs">
				<li><a href="{{ url_for('main.index') }}">Home</a></li>
				<li><a href="{{ url_for('main.about') }}">Hair</a></li>
				<li>Gallery</li>
			</ul>
		</div>
	</div>
	<!-- PAGE HEADER : begin -->
	<!-- PAGE CONTENT : begin -->
	<div id="page-content">
		<div class="various-content">
			<!-- GALLERY : begin -->
			<div class="c-gallery">
				<div class="thumb-list">
					{% for p in gallery %}
						<div class="thumb"><a href="{{ url_for('static', filename='images/gallery_01.jpg') }}" class="lightbox" data-lightbox-group="gallery"><img src="{{ p.image_url }}" alt="{{ p.image_url }}"></a></div>
					{% endfor %}
				</div>
			</div>
			<!-- GALLERY : end -->
			<!-- DESCRIPTION : begin -->
			<div class="container">
				<p>It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
			</div>
			<!-- DESCRIPTION : end -->
		</div>
	</div>
	<!-- PAGE CONTENT : end -->
</div>
<!-- CORE : end -->
{% endblock %}