{% extends './layout.html' %}
{% set active_page = "main.index" %}

{% block content %}
<!-- MAIN SLIDER : begin -->
<section class="hero-container">
	<img src="https://res.cloudinary.com/comececeme/image/upload/v1598503231/self/comececeme-home-top-finished_esdrb9.png" style="max-height:700px;" class="img-fluid" alt="">
	<div class="hero-text">
		<h2 class="hero-header">
			Perfect Hair.<br>
			Perfect Price.<br>
			Perfect Selfie.
		</h2>
		<!-- <h3><a href="https://www.styleseat.com/m/v/comececeme" target='_blank'>Make a Reservation</a></h3> -->
	</div>
</section>
<!-- MAIN SLIDER : end -->
<!-- CORE : begin -->
<div id="core">
	<!-- PAGE CONTENT : begin -->
	<div id="page-content">
		<div class="various-content">
			<!-- SERVICES SECTION : begin -->
			{% include './partials/services.html' %}
			<!-- SERVICES SECTION : end -->
			<!-- GALLERY SECTION : begin -->
			{# {% include 'partials/gallery.html' %} #}
			<!-- GALLERY SECTION : end -->
			<!-- TESTIMONIALS SECTION : begin -->
			<section>
				<!-- SECTION HEADER : begin -->
				<header>
					<div class="container">
						<h2>Our Clients</h2>
						<p class="subtitle">Read why they love us so much</p>
						<p class="more"><a href="{{ url_for('main.contact') }}" class="c-button m-type-2">Become Our Client</a></p>
					</div>
				</header>
				<!-- SECTION HEADER : end -->
				<!-- TESTIMONIAL LIST : begin -->
				<div class="c-testimonial-list m-paginated">
					<div class="container">
						<div class="testimonial-list-inner">
							{% for review in reviews %}
								<div class="testimonial-list-item">
									<!-- TESTIMONIAL : begin -->
									<div class="c-testimonial m-has-portrait">
										<div class="testimonial-inner">
											<!-- <p class="testimonial-portrait"><span><img src="{{ url_for('static', filename='images/client_01.jpg') }}" alt=""></span></p> -->
											<blockquote>
												<p>{{ review.body }}</p>
												<footer>
													<strong>{{ review.author }}</strong>
													<!-- <span>, {% for _ in range(review.rating) %}<i class="fa fa-star"></i>{% endfor %}</span> -->
												</footer>
											</blockquote>
										</div>
									</div>
									<!-- TESTIMONIAL : end -->
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<!-- TESTIMONIAL LIST : end -->
			</section>
			<!-- TESTIMONIALS SECTION : end -->
			<!-- PICTURE SECTION : begin -->
			<section>
				<img src="https://res.cloudinary.com/comececeme/image/upload/v1598327091/self/home-bottom-a_e0meyn.png" class="img-fluid" alt="">
			</section>
			<!-- PICTURE SECTION : end -->
			
			<!-- BRANDS SECTION : begin -->
				<!-- Brands partial goes here -->
			<!-- BRANDS SECTION : end -->
		</div>
	</div>
	<!-- PAGE CONTENT : end -->
</div>
<!-- CORE : end -->

{% endblock %}