{% extends './layout.html' %}
{% set active_page = "main.index" %}

{% block content %}
<!-- MAIN SLIDER : begin -->
<div id="main-slider" data-interval="8000">
	<div class="slide-list">
		<!-- SLIDE 1 : begin -->
		<div class="slide slide-1" data-label="Welcome to ComeCeCeMe" >
			<div class="slide-bg">
				<div class="container">
					<div class="slide-inner">
						<div class="slide-content various-content textalign-left valign-middle">
							<h1>Welcome<br>to ComeCeCeMe!</h1>
							<!-- <h3>HTML Template for Beauty Salons,<br>Hairdressers, Wellness or Spa</h3> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- SLIDE 1 : end -->
		<!-- SLIDE 2 : begin -->
		<div class="slide slide-2" data-label="Now Accepting Appointments" >
			<div class="slide-bg">
				<div class="container">
					<div class="slide-inner">
						<div class="slide-content various-content textalign-right valign-middle"><h2>Now<br>Accepting Appointments</h2>
							<h3><a href="https://www.styleseat.com/m/v/comececeme" class="m-open-ajax-modal">Make a Reservation</a></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- SLIDE 2 : end -->
		<!-- SLIDE 3 : begin -->
		<div class="slide slide-3" data-label="Recent News" >
			<div class="slide-bg">
				<div class="container">
					<div class="slide-inner">
						<div class="slide-content various-content textalign-left valign-middle">
							<h2>Store<br>Launched</h2>
							<h3><a href="{{ url_for('shop.categories') }}">Take a Look</a> at Our Products</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- SLIDE 3 : end -->
	</div>
</div>
<!-- MAIN SLIDER : end -->
<!-- CORE : begin -->
<div id="core">
	<!-- PAGE CONTENT : begin -->
	<div id="page-content">
		<div class="various-content">
			<!-- SERVICES SECTION : begin -->
			{% include './partials/services.html' %}
			<!-- SERVICES SECTION : end -->
			<!-- GALLERY SECTION : begin -->
			{# {% include 'partials/gallery.html' %} #}
			<!-- GALLERY SECTION : end -->
			<!-- TESTIMONIALS SECTION : begin -->
			<section>
				<!-- SECTION HEADER : begin -->
				<header>
					<div class="container">
						<h2>Our Clients</h2>
						<p class="subtitle">Read why they love us so much</p>
						<p class="more"><a href="{{ url_for('main.contact') }}" class="c-button m-type-2">Become Our Client</a></p>
					</div>
				</header>
				<!-- SECTION HEADER : end -->
				<!-- TESTIMONIAL LIST : begin -->
				<div class="c-testimonial-list m-paginated">
					<div class="container">
						<div class="testimonial-list-inner">
							{% for review in reviews %}
								<div class="testimonial-list-item">
									<!-- TESTIMONIAL : begin -->
									<div class="c-testimonial m-has-portrait">
										<div class="testimonial-inner">
											<!-- <p class="testimonial-portrait"><span><img src="{{ url_for('static', filename='images/client_01.jpg') }}" alt=""></span></p> -->
											<blockquote>
												<p>{{ review.body }}</p>
												<footer>
													<strong>{{ review.author }}</strong>
													<!-- <span>, {% for _ in range(review.rating) %}<i class="fa fa-star"></i>{% endfor %}</span> -->
												</footer>
											</blockquote>
										</div>
									</div>
									<!-- TESTIMONIAL : end -->
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<!-- TESTIMONIAL LIST : end -->
			</section>
			<!-- TESTIMONIALS SECTION : end -->
			<!-- BRANDS SECTION : begin -->
				<!-- Brands partial goes here -->
			<!-- BRANDS SECTION : end -->
		</div>
	</div>
	<!-- PAGE CONTENT : end -->
</div>
<!-- CORE : end -->

{% endblock %}