{% extends './layout.html' %}
{% set active_page = "main.index" %}

{% block content %}
<!-- MAIN SLIDER : begin -->
<section class="hero-container">
	<a href="{{ url_for('hair.get_categories') }}">
		<img src="https://res.cloudinary.com/comececeme/image/upload/v1599572459/banners/Banner1_txpjts.jpg" class="img-fluid" alt="Banner Image">
	</a>
</section>
<!-- MAIN SLIDER : end -->
<!-- CORE : begin -->
<div id="core">
	<!-- PAGE CONTENT : begin -->
	<div id="page-content">
		<div class="various-content">
			<!-- SERVICES SECTION : begin -->
			{% include './partials/home-featured.html' %}
			<!-- SERVICES SECTION : end -->
			<!-- GALLERY SECTION : begin -->
			{# {% include 'partials/gallery.html' %} #}
			<!-- GALLERY SECTION : end -->
			
			<!-- TESTIMONIALS SECTION : begin -->
			<section>
				<!-- SECTION HEADER : begin -->
				<header>
					<div class="container">
						<h2>Our Clients</h2>
						<p class="subtitle">Read why they love us so much</p>
						<p class="more"><a href="{{ url_for('main.contact') }}" class="c-button m-type-2">Become Our Client</a></p>
					</div>
				</header>
				<!-- SECTION HEADER : end -->
				<!-- TESTIMONIAL LIST : begin -->
				<div class="c-testimonial-list m-paginated" style="margin-bottom: 0px;">
					<div class="container">
						<div class="testimonial-list-inner">
							{% for review in reviews %}
								<div class="testimonial-list-item">
									<!-- TESTIMONIAL : begin -->
									<div class="c-testimonial m-has-portrait">
										<div class="testimonial-inner">
											<!-- <p class="testimonial-portrait"><span><img src="{{ url_for('static', filename='images/client_01.jpg') }}" alt=""></span></p> -->
											<blockquote>
												<p>{{ review.body }}</p>
												<footer>
													<strong>{{ review.author }}</strong>
													<!-- <span>, {% for _ in range(review.rating) %}<i class="fa fa-star"></i>{% endfor %}</span> -->
												</footer>
											</blockquote>
										</div>
									</div>
									<!-- TESTIMONIAL : end -->
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<!-- TESTIMONIAL LIST : end -->
			</section>
			<!-- TESTIMONIALS SECTION : end -->
			
			<!-- PICTURE SECTION : begin -->
			<a href="{{ url_for('hair.get_categories') }}">
				<section style="margin-bottom:0px;">
					<img src="https://res.cloudinary.com/comececeme/image/upload/v1599572459/banners/Banner2_teb9bd.jpg" class="img-fluid" alt="Banner Footage" style="vertical-align: bottom !important;">
				</section>
			</a>
			<!-- PICTURE SECTION : end -->

			<!-- <section style="margin: 50px 0;">
				<div class="row">
					<div class="col-sm-6 offset-sm-3 textalign-center">
						<div class="various-content instagram">
							<h3>#COMECECEME ON INSTAGRAM</h3>
							<p><a target="_blank" href="https://instagram.com/comececeme_llc?igshid=13mvj5e6ruqdb" class="c-button submit-btn">FOLLOW US</a></p>
						</div>
					</div>
				</div>
			</section> -->


			<!-- BRANDS SECTION : begin -->
				<!-- Brands partial goes here -->
			<!-- BRANDS SECTION : end -->
		</div>
	</div>
	<!-- PAGE CONTENT : end -->
</div>
<!-- CORE : end -->

{% endblock %}