{% extends 'layout.html' %}
{% set active_page = 'shop.cart' %}

{% block content %}
<!-- CORE : begin -->
<div id="core">
	<!-- PAGE HEADER : begin -->
	<div id="page-header">
		<div class="container">
			<h1>Cart</h1>
			<ul class="breadcrumbs">
				<li><a href="{{ url_for('main.index') }}">Home</a></li>
				<li><a href="{{ url_for('shop.index') }}">Shop</a></li>
				<li>Cart</li>
			</ul>
		</div>
	</div>
	<!-- PAGE HEADER : begin -->
	<div class="container">
		<!-- PAGE CONTENT : begin -->
		<div id="page-content">
			<!-- SHOP CART : begin -->
			<div class="shop-cart">
				<form class="default-form" action="" method="GET">
					<!-- CART TABLE : begin -->
					<table class="cart-table">
						<thead>
							<tr>
								<th class="image-col"></th>
								<th class="title-col">Product</th>
								<th class="price-col">Price</th>
								<th class="quantity-col">Quantity</th>
								<th class="total-col">Total</th>
								<th class="remove-col"></th>
							</tr>
						</thead>
						<tbody>
							{% for product in shopping_cart %}
								<tr>
									<td class="product-image"><a href="{{ url_for('shop.get_product', id=product.prod_id) }}"><img src="{{ product.image }}" alt="{{ product.name }}"></a></td>
									<td><a href="{{ url_for('shop.get_product', id=product.prod_id) }}">{{ product.name }}</a></td>
									<td>${{ '{:.2f}'.format(product.price) }}</td>
									<td>
										{{ product.quantity }}
										<!-- <div class="quantity-input">
											<input name='cart-quantity' id='cart-quantity' type="number" class="m-type-2" value="1" min="1" max="100" step="1">
										</div> -->
									</td>
									<td>${{ '{:.2f}'.format(product.price * product.quantity) }}</td>
									<td class="textalign-right"><a href="{{ url_for('shop.remove_cart_product', id=product.prod_id) }}" class="remove-item"><i class="fa fa-trash-o"></i></a></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<!-- CART TABLE : end -->
					<!-- CART TOOLS : begin -->
					<div class="cart-tools">
						<!-- CART COUPON : begin -->
						<div class="cart-coupon">
							<input type="text" class="m-type-2" />
							<button class="c-button m-type-2" type="submit">Apply Coupon</button>
						</div>
						<!-- CART COUPON : end -->
						<!-- CART BUTTONS : begin -->
						<div class="cart-buttons">
							{# <a href="{{ url_for('shop.update_cart', id=prou) }}" id="update-cart-btn" class="c-button m-type-2" type="submit">Update Cart</a> #}
							<a href="{{ url_for('shop.cart_checkout') }}" class="c-button" type="submit">Checkout</a>
						</div>
						<!-- CART BUTTONS : end -->
					</div>
					<!-- CART TOOLS : end -->
				</form>
				<!-- CART FOOTER : begin -->
				<div class="cart-footer">
					<!-- CART SHIPPING : begin -->
					<!-- <div class="cart-shipping">
						<form class="default-form" action="shop-cart.html">
							<h2 class="heading-2 m-small">Cart Shipping</h2>
							<div class="form-field">
								<select class="selectbox-input">
									<option>Select Country...</option>
									<option selected value="us">United States</option>
								</select>
							</div>
							<button class="c-button m-type-2" type="submit">Update Totals</button>
						</form>
					</div> -->
					<!-- CART SHIPPING : end -->
					<!-- CART TOTALS : begin -->
					<div class="cart-totals">
						<h2 class="heading-2 m-small">Cart Totals</h2>
						<dl>
							<dt>Cart Subtotal</dt>
							<dd>{{ '${:.2f}'.format(total) }}</dd>
							<dt>Shipping/Sales</dt>
							<dd>{{ '${:.2f}'.format(total * tax) }}</dd>
							<dt>Total</dt>
							<dd><strong>{{ '${:.2f}'.format(total + (total * tax)) }}</strong></dd>
						</dl>
					</div>
					<!-- CART TOTALS : end -->
				</div>
				<!-- CART FOOTER : end -->
			</div>
			<!-- SHOP CART : end -->
		</div>
		<!-- PAGE CONTENT : end -->
	</div>
</div>
<!-- CORE : end -->
{% endblock %}