{% extends 'layout.html' %}
{% set active_page = 'shop.index' %}

{% block content %}
<!-- CORE : begin -->
<div id="core" class="core-bg-2">
	<!-- PAGE HEADER : begin -->
	<div id="page-header">
		<div class="container">
			<h1>Shop</h1>
			<ul class="breadcrumbs">
				<li><a href="{{ url_for('main.index') }}">Home</a></li>
				<li>Shop</li>
			</ul>
		</div>
	</div>
	<!-- PAGE HEADER : begin -->
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<!-- PAGE CONTENT : begin -->
				<div id="page-content">
					<!-- PRODUCT LIST TOOLS : begin -->
					<div class="product-list-tools">
						<div class="row">
							<div class="col-sm-6">
								<!-- PRODUCT LIST TITLE : begin -->
								<h2 class="product-list-title">Showing {{ products|length }} Items</h2>
								<!-- PRODUCT LIST TITLE : end -->
							</div>
							<div class="col-sm-6">
								<!-- PRODUCT LIST SORTING : begin -->
								<form action="{{ url_for('shop.index') }}" class="default-form product-list-sorting">
									<select class="selectbox-input m-small m-type-2">
										<option value="default">Default Sorting</option>
										<option value="lowest">Lowest Price</option>
										<option value="highest">Highest Price</option>
									</select>
								</form>
								<!-- PRODUCT LIST SORTING : end -->
							</div>
						</div>
					</div>
					<!-- PRODUCT LIST TOOLS : end -->
					<!-- PRODUCT LIST : begin -->
					<ul class="product-list">
						<!-- PRODUCT : begin -->
						{% for product in products %}
							<li class="product">
								<div class="product-inner">
									<h3 class="product-title"><a href="{{ url_for('shop.get_product', id=product.id) }}">{{ product.name }}</a></h3>
									<p class="product-image"><a href="{{ url_for('shop.get_product', id=product.id) }}"><img src="{{ product.image }}" alt="{{ product.name }}"></a></p>
									<div class="product-info">
										<div class="product-price">${{ product.price }}</div>
										<a href="{{ url_for('shop.get_product', id=product.id) }}" class="product-btn c-button m-type-2 m-small">Buy</a>
									</div>
								</div>
							</li>
						{% endfor %}
						<!-- PRODUCT : end -->
					</ul>
					<!-- PRODUCT LIST : end -->
					<!-- PAGINATION : begin -->
					<ul class="c-pagination">
						<li class="prev"><a href="#"><i class="fa fa-angle-left"></i></a></li>
						<li><a href="#">1</a></li>
						<li class="m-active"><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li class="next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
					</ul>
					<!-- PAGINATION : end -->
				</div>
				<!-- PAGE CONTENT : end -->
			</div>
			<div class="col-md-4">
				<!-- SIDEBAR : begin -->
				{% include './partials/shop-sidebar.html' %}
				<!-- SIDEBAR : end -->
			</div>
		</div>
	</div>
</div>
<!-- CORE : end -->
{% endblock %}