{% extends 'layout.html' %}
{% set active_page = 'shop.get_product' %}

{% block content %}
<!-- CORE : begin -->
<div id="core" class="core-bg-2">
	<!-- PAGE HEADER : begin -->
	<div id="page-header">
		<div class="container">
			<h1>{{ product.name }}</h1>
			<ul class="breadcrumbs">
				<li><a href="{{ url_for('main.index') }}">Home</a></li>
				<li><a href="{{ url_for('hair.get_categories') }}">Hair</a></li>
				<li><a href="{{ url_for('hair.get_category', category=category.lower()) }}">{{ category }}</a></li>
				<li>{{ pattern }}</li>
			</ul>
		</div>
	</div>
	<!-- PAGE HEADER : begin -->
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<!-- PAGE CONTENT : begin -->
				<div id="page-content">
					<!-- PRODUCT DETAIL : begin -->
					<div class="product-detail">
						<div class="row">
							<div class="col-sm-6">
								<!-- PRODUCT IMAGES : begin -->
								<div class="product-images">
									<p class="main-image"><a href="{{ image }}" class="lightbox" data-lightbox-group="product"><img src="{{ image }}" alt="{{ pattern }}"></a></p>
									<!-- <ul>
										<li><a href="{{ url_for('static', filename='images/product_01_big_02.jpg') }}" class="lightbox" data-lightbox-group="product"><img src="{{ url_for('static', filename='images/product_01_thumb_02.jpg') }}" alt=""></a></li>
										<li><a href="{{ url_for('static', filename='images/product_01_big_03.jpg') }}" class="lightbox" data-lightbox-group="product"><img src="{{ url_for('static', filename='images/product_01_thumb_03.jpg') }}" alt=""></a></li>
										<li><a href="{{ url_for('static', filename='images/product_01_big_04.jpg') }}" class="lightbox" data-lightbox-group="product"><img src="{{ url_for('static', filename='images/product_01_thumb_04.jpg') }}" alt=""></a></li>
									</ul> -->
								</div>
								<!-- PRODUCT IMAGES : end -->
							</div>
							<div class="col-sm-6">
								<!-- PRODUCT RATING : begin -->
								<div class="product-rating">
									<a href="#product-tabs">
										{#<!-- <span class="rating-stars">{% for _ in range(average) %} <i class="fa fa-star"></i> {% endfor %}</span> -->#}
										{#<span class="rating-label">
											{% if not product.reviews.all() %}
												No reviews for now
											{% else %}
												{{ product.reviews.all()|length }} review{% if product.reviews.all()|length > 1 %}s{% endif %}
											{% endif %}
										</span>#}
									</a>
								</div>
								<!-- PRODUCT RATING : end -->
								<!-- PRODUCT SHORT DESCRIPTION : begin -->
								<div class="product-short-description various-content">
									<p>{{ product.description }}</p>
								</div>
								<!-- PRODUCT SHORT DESCRIPTION : end -->
								<!-- PRODUCT INFO : begin -->
								<div class="product-info">
									<!-- PRODUCT STATUS : begin -->
									<div class="product-status m-available">
										<div class="product-status-inner">
											<i class="ico fa fa-check"></i>
											<h5>In Stock</h5>
											<p>Ship in 24h</p>
										</div>
									</div>
									<!--div class="product-status m-unavailable">
													<div class="product-status-inner">
														<i class="ico fa fa-times"></i>
														<h5>Unavailable</h5>
														<p>Product unavailable</p>
													</div>
												</div-->
									<!--div class="product-status m-info">
													<div class="product-status-inner">
														<i class="ico fa fa-clock-o"></i>
														<h5>Back Order</h5>
														<p>Out of stock</p>
													</div>
												</div-->
									<!-- PRODUCT STATUS : end -->
									<!-- PRODUCT PRICE : begin -->
									<div class="product-price">
										<!-- <span class="old-price">$29.99</span> -->
										<strong class="price">from ${{ '{:,.2f}'.format(product.price) }}</strong>
									</div>
									<!-- PRODUCT PRICE : end -->
								</div>
								<!-- PRODUCT INFO : end -->
								<!-- PRODUCT TOOLS : begin -->
								<form id="product-form" action="{{ url_for('hair.add_cart_product') }}" class="product-tools default-form" method="POST">
									<div class="c-tabs">
										<h1 style="font-weight: bold; margin-bottom: 12px;">Choose a length</h1>
										<div class="tab-list">
											{% for p in filtered_products %}
												{% if p.category_id == 7 %}
													<li class="product-list-item" data-product-id="{{ p.id }}" data-price="{{ '{:,.2f}'.format(p.price) }}">{{ '{} - ${:,.2f}'.format(p.bundle_length, p.price) }}</li>
												{% else %}
													<li class="product-list-item" data-product-id="{{ p.id }}" data-price="{{ '{:,.2f}'.format(p.price) }}">{{ '{}" - ${:,.2f}'.format(p.length, p.price) }}</li>
												{% endif %}
											{% endfor %}
										</div>
									</div>
									<div class="quantity-input">
										<input id='quantity' name='quantity' type="number" class="m-type-2" value="1" min="1" max="100" step="1">
									</div>
									<button id="add-to-cart-btn" class="c-button product-cart-btn" type="submit">Add To Cart</button>
								</form>
								<!-- PRODUCT TOOLS : end -->
							</div>
						</div>
						<!-- PRODUCT TABS : begin -->
						<div class="c-tabs product-tabs" id="product-tabs">
							<ul class="tab-list">
								<li class="m-active">Description</li>
								{#<li class="product-reviews-tab">Review{% if product.reviews.all()|length > 1 %}s{% endif %} ({{ product.reviews.all()|length }})</li>#}
							</ul>
							<ul class="content-list">
								<li>
									<!-- PRODUCT DESCRIPTION : begin -->
									<div class="product-description various-content">
										<p>{{ description }}</p>
									</div>
									<!-- PRODUCT DESCRIPTION : end -->
								</li>
								<li style="display: none;">
									<!-- PRODUCT REVIEWS : begin -->
									<div class="product-reviews">
										<!-- REVIEW LIST: begin -->
										<ul class="review-list" id="product-reviews">
											{#{% if product.reviews.all() %}
												{% for review in product.reviews.all() %}
													<li>
														<!-- REVIEW : begin -->
														<div class="review">
															<p class="review-portrait"><img src="{{ url_for('static', filename='images/comment_author_02.jpg') }}" alt=""></p>
															<h4 class="review-author">{{ review.author }}</h4>
															<!-- <p class="review-rating">{% for star in range(review.rating) %}<i class="fa fa-star"></i>{% endfor %}{% for o_start in range(5 - review.rating) %}<i class="fa fa-star-o"></i>{% endfor %}</p> -->
															<div class="review-content various-content">
																<p>{{ review.body }}</p>
															</div>
															<div class="review-info">
																<div class="review-date">{{ '{:%B %d, %Y}'.format(review.created_on) }}</div>
															</div>
														</div>
														<!-- REVIEW : end -->
													</li>
												{% endfor %}
											{% endif %}#}
										</ul>
										<!-- REVIEW LIST: end -->
										<!-- REVIEW FORM : begin -->
										<form id="review-form" class="review-form default-form m-validate" action="{{ url_for('shop.add_product_review', id=product.id) }}" method="post">
											<input type="hidden" name="product_id" id="product_id" value='{{ product.id }}' />
											<h3 class="review-form-title">Add a comment</h3>
											<!-- FORM VALIDATION ERROR MESSAGE : begin -->
											<p class="c-alert-message m-warning m-validation-error" style="display: none;"><i class="ico fa fa-exclamation-circle"></i>Please fill in all required (*) fields.</p>
											<!-- FORM VALIDATION ERROR MESSAGE : end -->
											<div class="row">
												<div class="col-sm-6">
													<!-- NAME FIELD : begin -->
													<div class="form-field">
														<label for="review-name">Your Name<span>*</span></label>
														<input id="review-name" name="review_name" class="m-required">
													</div>
													<!-- NAME FIELD : end -->
													<!-- EMAIL FIELD : begin -->
													<div class="form-field">
														<label for="review-email">Your Email Address <span>*</span></label>
														<input id="review-email" name="review_email" class="m-required m-email">
													</div>
													<!-- EMAIL FIELD : end -->
												</div>
												<div class="col-sm-6">
													<!-- REVIEW FIELD : begin -->
													<div class="form-field">
														<label for="review-message">Review <span>*</span></label>
														<textarea id="review-message" name="review_message" class="m-required"></textarea>
													</div>
													<!-- REVIEW FIELD : end -->
													<!-- RATING FIELD : begin -->
													<div class="form-field">
														<div class="review-rating">
															<label>Rating</label>
															<span class="rating-stars">
																<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
															</span>
															<input name="review_rating" id="review-rating" type="hidden">
														</div>
													</div>
													<!-- RATING FIELD : end -->
													<!-- SUBMIT BUTTON : begin -->
													<div class="form-field">
														<button class="submit-btn c-button" type="submit" data-label="Submit" data-loading-label="Sending...">Submit</button>
													</div>
													<!-- SUBMIT BUTTON : end -->
												</div>
											</div>
										</form>
										<!-- REVIEW FORM : end -->
									</div>
									<!-- PRODUCT REVIEWS : end -->
								</li>
							</ul>
						</div>
						<!-- PRODUCT TABS : end -->

						<!-- RELATED PRODUCTS : begin -->
							<!-- Related Product content goes here -->
						<!-- RELATED PRODUCTS : end -->
					
					</div>
					<!-- PRODUCT DETAIL : end -->
				</div>
				<!-- PAGE CONTENT : end -->
			</div>
			<div class="col-md-4">
				<!-- SIDEBAR : begin -->
				{% include './partials/shop-sidebar.html' %}
				<!-- SIDEBAR : end -->
			</div>
		</div>
	</div>
</div>
<!-- CORE : end -->
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script>
		var price;
		var id;
		var category = '{{ category }}';
		var pattern = '{{ pattern }}';
		var product_id = '{{ product.id }}';
		$('.product-list-item').each(function () {
			var $this = $(this);
			$this.on("click", function () {
				price = $(this).data('price');
				id = $(this).data('product-id');
				// console.log(price)
				// console.log(id)
			});
		});

		$('#product-form').on('submit', (e) => {
			e.preventDefault();
			$.ajax({
					url: "{{ url_for('hair.add_cart_product') }}",
					data: JSON.stringify({ id: id, category: category, pattern: pattern, quantity: $('#quantity').val() }),
					type: 'POST',
					contentType: 'application/json',
					dataType: 'json',
					success: (data) => {
						console.log("Success");
					}
				});
			window.location.reload();
		});
	</script>
{% endblock %}
